body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

table {
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge ekler */
  border: none;
}

thead {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  border: none;
}



/* Satırların arka plan renkleri */
tr:nth-child(odd) {
  background-color: #f0f0f0; /* Açık gri */
  border: none;
  
}

tr:nth-child(even) {
  background-color: #ffffff; /* Beyaz */
  border: none;
}

.account-code{
  padding: 10px;
}
th{
  padding: 10px;
}

td{
  padding: 10px;
}

/* Düğme stilleri */
button {
  padding: 5px 10px;
  border: 1px solid #bbb;
  background-color: #f4f4f4;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #ddd;
}
